summary::before {
    position: absolute;
    top: 1rem;
    left: 0.8rem;
     
  }
  
  details { overflow: hidden; }
  details summary {
    position: relative;
    z-index: 10;
  }
  
  details.groupStyle summary::before {
    content: ' \2023';
    color: #FFF;
    font-size: 26px;
    line-height: 1rem;
  
    top: 0.2rem;
    left: 0.5rem;
  }
  details[open].groupStyle > summary:before {
    transform: rotate(90deg);
   
  }
   
  bosluk { margin: 0; padding-bottom: 10px; }
  bosluk:last-child { padding: 0; }
  details {
    box-sizing: border-box;
    margin: 2px;
    background: white;
    border : solid 1px #f5f8fb;
     
  }
  
  summary {
    border: 4px solid transparent;
    outline: none;
    padding: 0.2rem;
    display: block;
    background: #666;
    color: white;
    padding-left: 1.8rem;
    position: relative;
    cursor: pointer;
    font-size:14px;
  }
  
  details[open] summary,
  summary:hover {
    color: white;
    background: #444;
  }
  
  .tcgrupbarcontainer {
    padding: 3px;
    border: 1px solid #000000;
    border-top: none;
    box-sizing:border-box;
  }
  